In [43]:
import os
import pandas as pd
import numpy as np
import datetime as dt

# We placed the dataset under datasets/ sub folder
DATASET_PATH = 'dataset/'

# We read the data from the CSV file
data_path = os.path.join(DATASET_PATH, 'datos.csv')
dataset = pd.read_csv(data_path, header=None)

# Because thr CSV doesn't contain any header, we add column names 
# using the description from the original dataset website
dataset.columns = [
    "RECORD_CREATION_DATE", "MONTO_DEL_PRESTAMO", "RANGO_DEL_CREDITO",
    "DEUDA_EXISTENTE", "NOTAS_DEL_AGENTE", "UBICACION_DE_LA_OFICINA",
    "PRESTAMO_INCUMPLIDO"]

In [2]:
# Check the shape of the data: we have 768 rows and 9 columns:
# the first 8 columns are features while the last one
# is the supervised label (1 = has diabetes, 0 = no diabetes)
dataset.shape

(8001, 7)

In [3]:
# Visualise a table with the first rows of the dataset, to
# better understand the data format
dataset.head(15)

,RECORD_CREATION_DATE,MONTO_DEL_PRESTAMO,RANGO_DEL_CREDITO,DEUDA_EXISTENTE,NOTAS_DEL_AGENTE,UBICACION_DE_LA_OFICINA,PRESTAMO_INCUMPLIDO
0,RECORD_CREATION_DATE,MONTO_DEL_PRESTAMO,RANGO_DEL_CREDITO,DEUDA_EXISTENTE,NOTAS_DEL_AGENTE,UBICACION_DE_LA_OFICINA,PRESTAMO_INCUMPLIDO
1,01May2014:09:24:27.000000,2500,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
2,01May2014:09:48:36.000000,2500,700-719,"$1-$10,000","Ingreso anual neto: $25,400",SOUTHERN CALIFORNIA,FALSO
3,01May2014:10:10:36.000000,6300,740-759,"$100,000+",NaN,ARIZONA,VERDADERO
4,01May2014:10:31:25.000000,4300,780-799,"$1-$10,000","Ingreso anual neto: $191,900",SOUTHERN CALIFORNIA,FALSO
5,01May2014:10:46:54.000000,20100,780-799,"$90,001-$100,000","Pagos mensuales de deuda verificados: $1,700",SOUTHERN CALIFORNIA,VERDADERO
6,01May2014:11:14:12.000000,6600,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
7,01May2014:11:23:11.000000,2500,700-719,"$100,000+","Ingreso anual neto: $63,100",ARIZONA,VERDADERO
8,01May2014:11:53:24.000000,10000,760-779,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,FALSO
9,01May2014:12:18:53.000000,8900,740-759,"$80,001-$90,000",NaN,NORTHERN CALIFORNIA,FALSO
10,01May2014:12:32:41.000000,2500,760-779,"$30,001-$40,000",Pagos mensuales de deuda verificados: $590...I...,NORTHERN CALIFORNIA,FALSO
11,01May2014:12:52:26.000000,13000,720-739,"$10,001-$20,000",NaN,SOUTHERN CALIFORNIA,FALSO
12,01May2014:12:59:04.000000,2500,780-799,"$10,001-$20,000","Ingreso mensual neto 16,670",NORTHERN CALIFORNIA,VERDADERO
13,01May2014:13:29:21.000000,11000,700-719,"$70,001-$80,000",NaN,NORTHERN CALIFORNIA,FALSO
14,01May2014:13:50:52.000000,35000,760-779,"$1-$10,000","Ingreso anual neto: $15,000",OREGON,FALSO

In [7]:
dataset['RECORD_CREATION_DATE'].describe()

count                          8001
unique                         8001
top       22Oct2014:17:23:36.000000
freq                              1
Name: RECORD_CREATION_DATE, dtype: object

In [8]:
df = pd.read_csv('dataset/datos.csv')

In [9]:
df

,RECORD_CREATION_DATE,MONTO_DEL_PRESTAMO,RANGO_DEL_CREDITO,DEUDA_EXISTENTE,NOTAS_DEL_AGENTE,UBICACION_DE_LA_OFICINA,PRESTAMO_INCUMPLIDO
0,01May2014:09:24:27.000000,2500,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
1,01May2014:09:48:36.000000,2500,700-719,"$1-$10,000","Ingreso anual neto: $25,400",SOUTHERN CALIFORNIA,FALSO
2,01May2014:10:10:36.000000,6300,740-759,"$100,000+",NaN,ARIZONA,VERDADERO
3,01May2014:10:31:25.000000,4300,780-799,"$1-$10,000","Ingreso anual neto: $191,900",SOUTHERN CALIFORNIA,FALSO
4,01May2014:10:46:54.000000,20100,780-799,"$90,001-$100,000","Pagos mensuales de deuda verificados: $1,700",SOUTHERN CALIFORNIA,VERDADERO
5,01May2014:11:14:12.000000,6600,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
6,01May2014:11:23:11.000000,2500,700-719,"$100,000+","Ingreso anual neto: $63,100",ARIZONA,VERDADERO
7,01May2014:11:53:24.000000,10000,760-779,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,FALSO
8,01May2014:12:18:53.000000,8900,740-759,"$80,001-$90,000",NaN,NORTHERN CALIFORNIA,FALSO
9,01May2014:12:32:41.000000,2500,760-779,"$30,001-$40,000",Pagos mensuales de deuda verificados: $590...I...,NORTHERN CALIFORNIA,FALSO
10,01May2014:12:52:26.000000,13000,720-739,"$10,001-$20,000",NaN,SOUTHERN CALIFORNIA,FALSO
11,01May2014:12:59:04.000000,2500,780-799,"$10,001-$20,000","Ingreso mensual neto 16,670",NORTHERN CALIFORNIA,VERDADERO
12,01May2014:13:29:21.000000,11000,700-719,"$70,001-$80,000",NaN,NORTHERN CALIFORNIA,FALSO
13,01May2014:13:50:52.000000,35000,760-779,"$1-$10,000","Ingreso anual neto: $15,000",OREGON,FALSO
14,01May2014:13:57:11.000000,5900,780-799,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,FALSO
15,01May2014:14:29:59.000000,2500,760-779,"$1-$10,000",NaN,WASHINGTON STATE,FALSO
16,01May2014:14:53:53.000000,2500,780-799,"$1-$10,000","Ingreso anual neto: $17,300",ARIZONA,FALSO
17,01May2014:15:07:34.000000,7600,700-719,"$20,001-$30,000","Ingreso mensual neto 1,250",WASHINGTON STATE,FALSO
18,01May2014:15:17:40.000000,2900,760-779,"$40,001-$50,000",NaN,WASHINGTON STATE,VERDADERO
19,01May2014:15:23:38.000000,3000,740-759,NaN,NaN,SOUTHERN CALIFORNIA,FALSO
20,01May2014:15:38:11.000000,5100,700-719,"$60,001-$70,000","Ingreso anual neto: $58,300",SOUTHERN CALIFORNIA,FALSO
21,01May2014:15:58:39.000000,2500,780-799,NaN,El cliente no tiene deuda...Ingreso anual neto...,ARIZONA,VERDADERO
22,01May2014:16:26:10.000000,2500,740-759,"$20,001-$30,000","Ingreso mensual neto 4,150",ARIZONA,FALSO
23,01May2014:16:54:47.000000,2900,740-759,"$60,001-$70,000",NaN,OREGON,FALSO
24,01May2014:17:21:12.000000,2500,760-779,NaN,NaN,OREGON,VERDADERO
25,01May2014:17:35:40.000000,9100,740-759,"$30,001-$40,000","Ingreso anual neto: $23,000",SOUTHERN CALIFORNIA,FALSO
26,01May2014:17:50:40.000000,9800,720-739,"$50,001-$60,000",Pagos mensuales de deuda verificados: $870...I...,NEVADA,FALSO
27,01May2014:18:14:03.000000,6900,700-719,"$30,001-$40,000",Pagos mensuales de deuda verificados: $550...I...,NEVADA,VERDADERO
28,01May2014:18:25:20.000000,5300,700-719,NaN,NaN,ARIZONA,FALSO
29,01May2014:18:38:45.000000,2800,780-799,"$30,001-$40,000",NaN,NORTHERN CALIFORNIA,FALSO
...,...,...,...,...,...,...,...
7970,06May2015:18:52:19.000000,2700,760-779,"$100,000+","Ingreso mensual neto 16,670",SOUTHERN CALIFORNIA,VERDADERO
7971,07May2015:09:01:13.000000,4400,760-779,"$1-$10,000","Ingreso anual neto: $15,000",NORTHERN CALIFORNIA,VERDADERO
7972,07May2015:09:11:16.000000,9800,740-759,"$100,000+",NaN,NORTHERN CALIFORNIA,FALSO
7973,07May2015:09:17:22.000000,2900,800+,"$1-$10,000","Ingreso mensual neto 3,240",NEVADA,FALSO
7974,07May2015:09:27:25.000000,2500,740-759,"$1-$10,000","Ingreso anual neto: $19,700",SOUTHERN CALIFORNIA,VERDADERO
7975,07May2015:10:00:43.000000,13700,740-759,"$1-$10,000","Ingreso anual neto: $16,400",NEVADA,FALSO
7976,07May2015:10:13:50.000000,2500,760-779,"$40,001-$50,000",Pagos mensuales de deuda verificados: $700,NORTHERN CALIFORNIA,FALSO
7977,07May2015:10:32:10.000000,2500,740-759,NaN,"Ingreso mensual neto 9,570...El cliente no tie...",NORTHERN CALIFORNIA,VERDADERO
7978,07May2015:10:39:21.000000,35000,720-739,"$10,001-$20,000","Ingreso mensual neto 1,410",NEVADA,FALSO
7979,07May2015:11:09:10.000000,6100,760-779,"$100,000+","Pagos mensuales de deuda verificados: $1,980.....",ARIZONA,FALSO
7980,07May2015:11:33:06.000000,3300,780-799,"$20,001-$30,000",NaN,ARIZONA,FALSO
7981,07May2015:11:44:03.000000,2500,720-739,NaN,El cliente no tiene deuda,NEVADA,VERDADERO
7982,07May2015:11:55:46.000000,3700,720-739,"$30,001-$40,000",NaN,NORTHERN CALIFORNIA,FALSO
7983,07May2015:12:01:37.000000,4100,800+,NaN,El cliente no tiene deuda,ARIZONA,FALSO
7984,07May2015:12:22:46.000000,2500,700-719,"$80,001-$90,000",NaN,NORTHERN CALIFORNIA,FALSO
7985,07May2015:12:53:01.000000,6700,800+,NaN,"Ingreso mensual neto 7,960...El cliente no tie...",SOUTHERN CALIFORNIA,VERDADERO
7986,07May2015:13:21:02.000000,4500,780-799,"$100,000+","Ingreso anual neto: $200,000",NORTHERN CALIFORNIA,VERDADERO
7987,07May2015:13:29:00.000000,12400,760-779,NaN,"Ingreso anual neto: $68,300",NORTHERN CALIFORNIA,VERDADERO
7988,07May2015:13:37:23.000000,4300,740-759,"$1-$10,000",NaN,ARIZONA,VERDADERO
7989,07May2015:13:58:59.000000,3400,700-719,"$20,001-$30,000",NaN,ARIZONA,FALSO
7990,07May2015:14:08:44.000000,7000,700-719,"$30,001-$40,000","Ingreso mensual neto 1,430",OREGON,VERDADERO
7991,07May2015:14:16:56.000000,5200,740-759,"$60,001-$70,000",NaN,NORTHERN CALIFORNIA,FALSO
7992,07May2015:14:43:58.000000,2500,720-739,"$20,001-$30,000","Ingreso mensual neto 1,660",NORTHERN CALIFORNIA,VERDADERO
7993,07May2015:15:10:02.000000,4400,700-719,"$30,001-$40,000","Ingreso mensual neto 1,790",OREGON,VERDADERO
7994,07May2015:15:44:07.000000,7400,740-759,"$20,001-$30,000",NaN,ARIZONA,FALSO
7995,07May2015:16:04:54.000000,3500,700-719,NaN,El cliente no tiene deuda...Ingreso anual neto...,SOUTHERN CALIFORNIA,FALSO
7996,07May2015:16:38:22.000000,2500,700-719,"$1-$10,000",Pagos mensuales de deuda verificados: $10,SOUTHERN CALIFORNIA,VERDADERO
7997,07May2015:17:04:07.000000,2500,780-799,"$10,001-$20,000","Ingreso mensual neto 2,870",SOUTHERN CALIFORNIA,FALSO
7998,07May2015:17:37:18.000000,2500,800+,NaN,El cliente no tiene deuda,NEVADA,VERDADERO
7999,07May2015:17:52:58.000000,2500,740-759,"$40,001-$50,000",NaN,NORTHERN CALIFORNIA,VERDADERO

In [35]:
select_ubicacion = df.loc[(df.UBICACION_DE_LA_OFICINA == 'NORTHERN CALIFORNIA' ) | (df.UBICACION_DE_LA_OFICINA == 'SOUTHERN CALIFORNIA' )]

In [36]:
print(select_ubicacion)

           RECORD_CREATION_DATE  MONTO_DEL_PRESTAMO RANGO_DEL_CREDITO  \
0     01May2014:09:24:27.000000                2500           760-779
1     01May2014:09:48:36.000000                2500           700-719
3     01May2014:10:31:25.000000                4300           780-799
4     01May2014:10:46:54.000000               20100           780-799
5     01May2014:11:14:12.000000                6600           760-779
7     01May2014:11:53:24.000000               10000           760-779
8     01May2014:12:18:53.000000                8900           740-759
9     01May2014:12:32:41.000000                2500           760-779
10    01May2014:12:52:26.000000               13000           720-739
11    01May2014:12:59:04.000000                2500           780-799
12    01May2014:13:29:21.000000               11000           700-719
14    01May2014:13:57:11.000000                5900           780-799
19    01May2014:15:23:38.000000                3000           740-759
20    01May2014:15:38:11.000000                5100           700-719
25    01May2014:17:35:40.000000                9100           740-759
29    01May2014:18:38:45.000000                2800           780-799
30    02May2014:09:06:58.000000                7100           700-719
31    02May2014:09:26:27.000000                2500           720-739
34    02May2014:10:34:58.000000                6600              800+
37    02May2014:11:32:01.000000                3800           780-799
39    02May2014:12:34:24.000000                2500           780-799
41    02May2014:13:13:15.000000                7800           740-759
46    02May2014:14:29:13.000000                2500           740-759
47    02May2014:14:56:13.000000                6400           700-719
49    02May2014:15:31:12.000000                2500           760-779
60    05May2014:09:31:32.000000               14400           780-799
62    05May2014:10:33:00.000000                2500           780-799
66    05May2014:12:01:42.000000                2500           700-719
72    05May2014:14:12:48.000000                2500           740-759
74    05May2014:14:40:17.000000                2500           700-719
...                         ...                 ...               ...
7949  06May2015:11:31:13.000000                2900              800+
7950  06May2015:11:42:43.000000                6300           700-719
7951  06May2015:12:02:51.000000                4300           780-799
7952  06May2015:12:26:44.000000                2500           740-759
7956  06May2015:14:07:23.000000                3800           700-719
7957  06May2015:14:32:30.000000                6700           760-779
7958  06May2015:14:44:11.000000                7500           780-799
7960  06May2015:15:15:24.000000                2500           780-799
7963  06May2015:16:06:15.000000                2500           780-799
7964  06May2015:16:38:59.000000                2500           700-719
7965  06May2015:16:51:56.000000                7300           700-719
7968  06May2015:18:01:10.000000                2500           780-799
7969  06May2015:18:25:17.000000                3200           740-759
7970  06May2015:18:52:19.000000                2700           760-779
7971  07May2015:09:01:13.000000                4400           760-779
7972  07May2015:09:11:16.000000                9800           740-759
7974  07May2015:09:27:25.000000                2500           740-759
7976  07May2015:10:13:50.000000                2500           760-779
7977  07May2015:10:32:10.000000                2500           740-759
7982  07May2015:11:55:46.000000                3700           720-739
7984  07May2015:12:22:46.000000                2500           700-719
7985  07May2015:12:53:01.000000                6700              800+
7986  07May2015:13:21:02.000000                4500           780-799
7987  07May2015:13:29:00.000000               12400           760-779
7991  07May2015:14:16:56.000000                5200           740-759
7992  07May2015:14:43:58.000000                2500           720-739
7995  07May2015:16:04:54.000000                3500           700-719
7996  07May2015:16:38:22.000000                2500           700-719
7997  07May2015:17:04:07.000000                2500           780-799
7999  07May2015:17:52:58.000000                2500           740-759

       DEUDA_EXISTENTE                                   NOTAS_DEL_AGENTE  \
0      $10,001-$20,000                                                NaN
1           $1-$10,000                        Ingreso anual neto: $25,400
3           $1-$10,000                       Ingreso anual neto: $191,900
4     $90,001-$100,000       Pagos mensuales de deuda verificados: $1,700
5      $10,001-$20,000                                                NaN
7      $20,001-$30,000                                                NaN
8      $80,001-$90,000                                                NaN
9      $30,001-$40,000  Pagos mensuales de deuda verificados: $590...I...
10     $10,001-$20,000                                                NaN
11     $10,001-$20,000                        Ingreso mensual neto 16,670
12     $70,001-$80,000                                                NaN
14     $20,001-$30,000                                                NaN
19                 NaN                                                NaN
20     $60,001-$70,000                        Ingreso anual neto: $58,300
25     $30,001-$40,000                        Ingreso anual neto: $23,000
29     $30,001-$40,000                                                NaN
30          $1-$10,000                                                NaN
31     $10,001-$20,000                                                NaN
34                 NaN                        Ingreso anual neto: $15,000
37           $100,000+                         Ingreso mensual neto 7,690
39     $20,001-$30,000         Pagos mensuales de deuda verificados: $440
41     $20,001-$30,000                         Ingreso mensual neto 1,250
46                 NaN                         Ingreso mensual neto 6,970
47           $100,000+                        Ingreso anual neto: $62,400
49                 NaN  Ingreso anual neto: $45,800...El cliente no ti...
60    $90,001-$100,000                        Ingreso anual neto: $83,300
62    $90,001-$100,000                                                NaN
66                 NaN                        Ingreso anual neto: $22,300
72                 NaN                        Ingreso anual neto: $23,500
74     $10,001-$20,000                         Ingreso mensual neto 1,630
...                ...                                                ...
7949   $10,001-$20,000                        Ingreso anual neto: $15,000
7950   $30,001-$40,000                                                NaN
7951               NaN                          El cliente no tiene deuda
7952   $40,001-$50,000                        Ingreso anual neto: $39,700
7956        $1-$10,000  Pagos mensuales de deuda verificados: $130...I...
7957         $100,000+                                                NaN
7958   $30,001-$40,000                        Ingreso anual neto: $52,900
7960               NaN  El cliente no tiene deuda...Ingreso anual neto...
7963   $20,001-$30,000                                                NaN
7964  $90,001-$100,000                                                NaN
7965   $10,001-$20,000                        Ingreso anual neto: $26,300
7968         $100,000+                                                NaN
7969               NaN                          El cliente no tiene deuda
7970         $100,000+                        Ingreso mensual neto 16,670
7971        $1-$10,000                        Ingreso anual neto: $15,000
7972         $100,000+                                                NaN
7974        $1-$10,000                        Ingreso anual neto: $19,700
7976   $40,001-$50,000         Pagos mensuales de deuda verificados: $700
7977               NaN  Ingreso mensual neto 9,570...El cliente no tie...
7982   $30,001-$40,000                                                NaN
7984   $80,001-$90,000                                                NaN
7985               NaN  Ingreso mensual neto 7,960...El cliente no tie...
7986         $100,000+                       Ingreso anual neto: $200,000
7987               NaN                        Ingreso anual neto: $68,300
7991   $60,001-$70,000                                                NaN
7992   $20,001-$30,000                         Ingreso mensual neto 1,660
7995               NaN  El cliente no tiene deuda...Ingreso anual neto...
7996        $1-$10,000          Pagos mensuales de deuda verificados: $10
7997   $10,001-$20,000                         Ingreso mensual neto 2,870
7999   $40,001-$50,000                                                NaN

     UBICACION_DE_LA_OFICINA PRESTAMO_INCUMPLIDO
0        NORTHERN CALIFORNIA               FALSO
1        SOUTHERN CALIFORNIA               FALSO
3        SOUTHERN CALIFORNIA               FALSO
4        SOUTHERN CALIFORNIA           VERDADERO
5        NORTHERN CALIFORNIA               FALSO
7        SOUTHERN CALIFORNIA               FALSO
8        NORTHERN CALIFORNIA               FALSO
9        NORTHERN CALIFORNIA               FALSO
10       SOUTHERN CALIFORNIA               FALSO
11       NORTHERN CALIFORNIA           VERDADERO
12       NORTHERN CALIFORNIA               FALSO
14       SOUTHERN CALIFORNIA               FALSO
19       SOUTHERN CALIFORNIA               FALSO
20       SOUTHERN CALIFORNIA               FALSO
25       SOUTHERN CALIFORNIA               FALSO
29       NORTHERN CALIFORNIA               FALSO
30       SOUTHERN CALIFORNIA           VERDADERO
31       SOUTHERN CALIFORNIA           VERDADERO
34       SOUTHERN CALIFORNIA               FALSO
37       SOUTHERN CALIFORNIA               FALSO
39       NORTHERN CALIFORNIA           VERDADERO
41       SOUTHERN CALIFORNIA           VERDADERO
46       SOUTHERN CALIFORNIA               FALSO
47       SOUTHERN CALIFORNIA               FALSO
49       NORTHERN CALIFORNIA           VERDADERO
60       NORTHERN CALIFORNIA               FALSO
62       NORTHERN CALIFORNIA               FALSO
66       SOUTHERN CALIFORNIA               FALSO
72       SOUTHERN CALIFORNIA               FALSO
74       SOUTHERN CALIFORNIA           VERDADERO
...                      ...                 ...
7949     NORTHERN CALIFORNIA               FALSO
7950     SOUTHERN CALIFORNIA           VERDADERO
7951     NORTHERN CALIFORNIA               FALSO
7952     SOUTHERN CALIFORNIA           VERDADERO
7956     NORTHERN CALIFORNIA           VERDADERO
7957     SOUTHERN CALIFORNIA               FALSO
7958     SOUTHERN CALIFORNIA           VERDADERO
7960     NORTHERN CALIFORNIA           VERDADERO
7963     SOUTHERN CALIFORNIA           VERDADERO
7964     NORTHERN CALIFORNIA               FALSO
7965     SOUTHERN CALIFORNIA           VERDADERO
7968     NORTHERN CALIFORNIA               FALSO
7969     SOUTHERN CALIFORNIA               FALSO
7970     SOUTHERN CALIFORNIA           VERDADERO
7971     NORTHERN CALIFORNIA           VERDADERO
7972     NORTHERN CALIFORNIA               FALSO
7974     SOUTHERN CALIFORNIA           VERDADERO
7976     NORTHERN CALIFORNIA               FALSO
7977     NORTHERN CALIFORNIA           VERDADERO
7982     NORTHERN CALIFORNIA               FALSO
7984     NORTHERN CALIFORNIA               FALSO
7985     SOUTHERN CALIFORNIA           VERDADERO
7986     NORTHERN CALIFORNIA           VERDADERO
7987     NORTHERN CALIFORNIA           VERDADERO
7991     NORTHERN CALIFORNIA               FALSO
7992     NORTHERN CALIFORNIA           VERDADERO
7995     SOUTHERN CALIFORNIA               FALSO
7996     SOUTHERN CALIFORNIA           VERDADERO
7997     SOUTHERN CALIFORNIA               FALSO
7999     NORTHERN CALIFORNIA           VERDADERO

[3811 rows x 7 columns]

In [39]:
ubicacion = df[df['UBICACION_DE_LA_OFICINA'].str.contains('CALIFORNIA')]
print(ubicacion['UBICACION_DE_LA_OFICINA'].count())

3811

In [24]:
select_ubicacion.count()

RECORD_CREATION_DATE       3811
MONTO_DEL_PRESTAMO         3811
RANGO_DEL_CREDITO          3811
DEUDA_EXISTENTE            2834
NOTAS_DEL_AGENTE           2425
UBICACION_DE_LA_OFICINA    3811
PRESTAMO_INCUMPLIDO        3811
dtype: int64

In [40]:
data_fecha = select_ubicacion.set_index('RECORD_CREATION_DATE')
data_fecha.head()

,MONTO_DEL_PRESTAMO,RANGO_DEL_CREDITO,DEUDA_EXISTENTE,NOTAS_DEL_AGENTE,UBICACION_DE_LA_OFICINA,PRESTAMO_INCUMPLIDO
RECORD_CREATION_DATE,,,,,,
01May2014:09:24:27.000000,2500,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
01May2014:09:48:36.000000,2500,700-719,"$1-$10,000","Ingreso anual neto: $25,400",SOUTHERN CALIFORNIA,FALSO
01May2014:10:31:25.000000,4300,780-799,"$1-$10,000","Ingreso anual neto: $191,900",SOUTHERN CALIFORNIA,FALSO
01May2014:10:46:54.000000,20100,780-799,"$90,001-$100,000","Pagos mensuales de deuda verificados: $1,700",SOUTHERN CALIFORNIA,VERDADERO
01May2014:11:14:12.000000,6600,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO

In [63]:
df['RECORD_CREATION_DATE'] = pd.to_datetime(df['RECORD_CREATION_DATE'], format='%d%b%Y:%H:%M:%S.%f')

In [64]:
select_ubicacion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3811 entries, 0 to 7999
Data columns (total 7 columns):
RECORD_CREATION_DATE       3811 non-null datetime64[ns]
MONTO_DEL_PRESTAMO         3811 non-null int64
RANGO_DEL_CREDITO          3811 non-null object
DEUDA_EXISTENTE            2834 non-null object
NOTAS_DEL_AGENTE           2425 non-null object
UBICACION_DE_LA_OFICINA    3811 non-null object
PRESTAMO_INCUMPLIDO        3811 non-null object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 238.2+ KB

In [54]:
type(select_date)

pandas.core.series.Series

In [58]:
select_date = select_ubicacion['RECORD_CREATION_DATE']

In [82]:
select_date

,MONTO_DEL_PRESTAMO,RANGO_DEL_CREDITO,DEUDA_EXISTENTE,NOTAS_DEL_AGENTE,UBICACION_DE_LA_OFICINA,PRESTAMO_INCUMPLIDO
RECORD_CREATION_DATE,,,,,,
2014-05-01 09:24:27,2500,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
2014-05-01 09:48:36,2500,700-719,"$1-$10,000","Ingreso anual neto: $25,400",SOUTHERN CALIFORNIA,FALSO
2014-05-01 10:10:36,6300,740-759,"$100,000+",NaN,ARIZONA,VERDADERO
2014-05-01 10:31:25,4300,780-799,"$1-$10,000","Ingreso anual neto: $191,900",SOUTHERN CALIFORNIA,FALSO
2014-05-01 10:46:54,20100,780-799,"$90,001-$100,000","Pagos mensuales de deuda verificados: $1,700",SOUTHERN CALIFORNIA,VERDADERO
2014-05-01 11:14:12,6600,760-779,"$10,001-$20,000",NaN,NORTHERN CALIFORNIA,FALSO
2014-05-01 11:23:11,2500,700-719,"$100,000+","Ingreso anual neto: $63,100",ARIZONA,VERDADERO
2014-05-01 11:53:24,10000,760-779,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,FALSO
2014-05-01 12:18:53,8900,740-759,"$80,001-$90,000",NaN,NORTHERN CALIFORNIA,FALSO
2014-05-01 12:32:41,2500,760-779,"$30,001-$40,000",Pagos mensuales de deuda verificados: $590...I...,NORTHERN CALIFORNIA,FALSO
2014-05-01 12:52:26,13000,720-739,"$10,001-$20,000",NaN,SOUTHERN CALIFORNIA,FALSO
2014-05-01 12:59:04,2500,780-799,"$10,001-$20,000","Ingreso mensual neto 16,670",NORTHERN CALIFORNIA,VERDADERO
2014-05-01 13:29:21,11000,700-719,"$70,001-$80,000",NaN,NORTHERN CALIFORNIA,FALSO
2014-05-01 13:50:52,35000,760-779,"$1-$10,000","Ingreso anual neto: $15,000",OREGON,FALSO
2014-05-01 13:57:11,5900,780-799,"$20,001-$30,000",NaN,SOUTHERN CALIFORNIA,FALSO
2014-05-01 14:29:59,2500,760-779,"$1-$10,000",NaN,WASHINGTON STATE,FALSO
2014-05-01 14:53:53,2500,780-799,"$1-$10,000","Ingreso anual neto: $17,300",ARIZONA,FALSO
2014-05-01 15:07:34,7600,700-719,"$20,001-$30,000","Ingreso mensual neto 1,250",WASHINGTON STATE,FALSO
2014-05-01 15:17:40,2900,760-779,"$40,001-$50,000",NaN,WASHINGTON STATE,VERDADERO
2014-05-01 15:23:38,3000,740-759,NaN,NaN,SOUTHERN CALIFORNIA,FALSO
2014-05-01 15:38:11,5100,700-719,"$60,001-$70,000","Ingreso anual neto: $58,300",SOUTHERN CALIFORNIA,FALSO
2014-05-01 15:58:39,2500,780-799,NaN,El cliente no tiene deuda...Ingreso anual neto...,ARIZONA,VERDADERO
2014-05-01 16:26:10,2500,740-759,"$20,001-$30,000","Ingreso mensual neto 4,150",ARIZONA,FALSO
2014-05-01 16:54:47,2900,740-759,"$60,001-$70,000",NaN,OREGON,FALSO
2014-05-01 17:21:12,2500,760-779,NaN,NaN,OREGON,VERDADERO
2014-05-01 17:35:40,9100,740-759,"$30,001-$40,000","Ingreso anual neto: $23,000",SOUTHERN CALIFORNIA,FALSO
2014-05-01 17:50:40,9800,720-739,"$50,001-$60,000",Pagos mensuales de deuda verificados: $870...I...,NEVADA,FALSO
2014-05-01 18:14:03,6900,700-719,"$30,001-$40,000",Pagos mensuales de deuda verificados: $550...I...,NEVADA,VERDADERO
2014-05-01 18:25:20,5300,700-719,NaN,NaN,ARIZONA,FALSO
2014-05-01 18:38:45,2800,780-799,"$30,001-$40,000",NaN,NORTHERN CALIFORNIA,FALSO
...,...,...,...,...,...,...
2015-05-06 18:52:19,2700,760-779,"$100,000+","Ingreso mensual neto 16,670",SOUTHERN CALIFORNIA,VERDADERO
2015-05-07 09:01:13,4400,760-779,"$1-$10,000","Ingreso anual neto: $15,000",NORTHERN CALIFORNIA,VERDADERO
2015-05-07 09:11:16,9800,740-759,"$100,000+",NaN,NORTHERN CALIFORNIA,FALSO
2015-05-07 09:17:22,2900,800+,"$1-$10,000","Ingreso mensual neto 3,240",NEVADA,FALSO
2015-05-07 09:27:25,2500,740-759,"$1-$10,000","Ingreso anual neto: $19,700",SOUTHERN CALIFORNIA,VERDADERO
2015-05-07 10:00:43,13700,740-759,"$1-$10,000","Ingreso anual neto: $16,400",NEVADA,FALSO
2015-05-07 10:13:50,2500,760-779,"$40,001-$50,000",Pagos mensuales de deuda verificados: $700,NORTHERN CALIFORNIA,FALSO
2015-05-07 10:32:10,2500,740-759,NaN,"Ingreso mensual neto 9,570...El cliente no tie...",NORTHERN CALIFORNIA,VERDADERO
2015-05-07 10:39:21,35000,720-739,"$10,001-$20,000","Ingreso mensual neto 1,410",NEVADA,FALSO
2015-05-07 11:09:10,6100,760-779,"$100,000+","Pagos mensuales de deuda verificados: $1,980.....",ARIZONA,FALSO
2015-05-07 11:33:06,3300,780-799,"$20,001-$30,000",NaN,ARIZONA,FALSO
2015-05-07 11:44:03,2500,720-739,NaN,El cliente no tiene deuda,NEVADA,VERDADERO
2015-05-07 11:55:46,3700,720-739,"$30,001-$40,000",NaN,NORTHERN CALIFORNIA,FALSO
2015-05-07 12:01:37,4100,800+,NaN,El cliente no tiene deuda,ARIZONA,FALSO
2015-05-07 12:22:46,2500,700-719,"$80,001-$90,000",NaN,NORTHERN CALIFORNIA,FALSO
2015-05-07 12:53:01,6700,800+,NaN,"Ingreso mensual neto 7,960...El cliente no tie...",SOUTHERN CALIFORNIA,VERDADERO
2015-05-07 13:21:02,4500,780-799,"$100,000+","Ingreso anual neto: $200,000",NORTHERN CALIFORNIA,VERDADERO
2015-05-07 13:29:00,12400,760-779,NaN,"Ingreso anual neto: $68,300",NORTHERN CALIFORNIA,VERDADERO
2015-05-07 13:37:23,4300,740-759,"$1-$10,000",NaN,ARIZONA,VERDADERO
2015-05-07 13:58:59,3400,700-719,"$20,001-$30,000",NaN,ARIZONA,FALSO
2015-05-07 14:08:44,7000,700-719,"$30,001-$40,000","Ingreso mensual neto 1,430",OREGON,VERDADERO
2015-05-07 14:16:56,5200,740-759,"$60,001-$70,000",NaN,NORTHERN CALIFORNIA,FALSO
2015-05-07 14:43:58,2500,720-739,"$20,001-$30,000","Ingreso mensual neto 1,660",NORTHERN CALIFORNIA,VERDADERO
2015-05-07 15:10:02,4400,700-719,"$30,001-$40,000","Ingreso mensual neto 1,790",OREGON,VERDADERO
2015-05-07 15:44:07,7400,740-759,"$20,001-$30,000",NaN,ARIZONA,FALSO
2015-05-07 16:04:54,3500,700-719,NaN,El cliente no tiene deuda...Ingreso anual neto...,SOUTHERN CALIFORNIA,FALSO
2015-05-07 16:38:22,2500,700-719,"$1-$10,000",Pagos mensuales de deuda verificados: $10,SOUTHERN CALIFORNIA,VERDADERO
2015-05-07 17:04:07,2500,780-799,"$10,001-$20,000","Ingreso mensual neto 2,870",SOUTHERN CALIFORNIA,FALSO
2015-05-07 17:37:18,2500,800+,NaN,El cliente no tiene deuda,NEVADA,VERDADERO
2015-05-07 17:52:58,2500,740-759,"$40,001-$50,000",NaN,NORTHERN CALIFORNIA,VERDADERO

In [84]:
 select_date = select_ubicacion.set_index('RECORD_CREATION_DATE')

In [89]:
select_date.resample('M').count()

,MONTO_DEL_PRESTAMO,RANGO_DEL_CREDITO,DEUDA_EXISTENTE,NOTAS_DEL_AGENTE,UBICACION_DE_LA_OFICINA,PRESTAMO_INCUMPLIDO
RECORD_CREATION_DATE,,,,,,
2014-05-31,294,294,219,186,294,294
2014-06-30,315,315,231,194,315,315
2014-07-31,340,340,234,220,340,340
2014-08-31,301,301,222,186,301,301
2014-09-30,321,321,251,205,321,321
2014-10-31,328,328,260,190,328,328
2014-11-30,283,283,210,188,283,283
2014-12-31,308,308,238,200,308,308
2015-01-31,309,309,225,199,309,309
2015-02-28,268,268,202,161,268,268
2015-03-31,326,326,237,223,326,326
2015-04-30,342,342,247,225,342,342
2015-05-31,76,76,58,48,76,76